<style>
  #station_css {
    margin-top: 9px;
  }
</style>

<div class="card" id="data_table">
  <div class="card-header">
    <div class="row">
      <div class="col-md-2">
        <span class="float-start" id="station_css"
          >Station: <%= station %></span
        >
      </div>
      <div class="col-md-10">
        <span class="float-end"
          >From&nbsp-&nbsp<input type="date" id="first" /> To&nbsp-&nbsp<input
            type="date"
            id="last"
          />&nbsp&nbsp
          <button
            type="button"
            class="btn btn-primary btn-sm"
            id="daterangesearch"
            value="<%= station %>"
          >
            Search
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="card-body"></div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>DATE & TIME</th>
          <th>RAIN(Daily)</th>
          <th>RAIN(Hourly)</th>
          <th>SOURCE</th>
        </tr>
      </thead>
      <tbody>
        <% if(sampleData.length > 0) { sampleData.forEach(function(data) { %>
        <tr>
          <td><%= data.DateAndTime %></td>
          <td><%= data.RainDaily %></td>
          <td><%= data.RainHourly %></td>
          <td><%= data.Source %></td>
        </tr>
        <% }); } else { %>
        <tr>
          <td colspan="5">No Data Found</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
<script src="javascripts/argajax.js"></script>
